################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GridAlignmentAndMargins/GridAlignmentAndMargins/Bin/Debug
/GridAlignmentAndMargins/GridAlignmentAndMargins/obj/Debug
*.suo
/XAMLResources/XAMLResources/Bin/Debug
/XAMLResources/XAMLResources/obj/Debug
/XAMLResources
